streamlit
langchain
openai
transformers
chromadb
langchain-community
python-dotenv
tiktoken
langchain-openai
tensorflow
tf-keras
torch
pysqlite3-binary
PyPDF2
faiss-cpu
huggingface_hub
InstructorEmbedding
python-dotenv
sentence-transformers==2.2.2